%table.upcoming{:onclick => "window.location='#'"}
  %tr.upcominginfo
    %td.upcomingteamleft
      = match.team1.team_tag
    %td.upcomingvs
      vs.
    %td.upcomingteamright
      = match.team2.team_tag
  %tr.upcomingtime
    %td.upcomingtimeuntil.countdown_timer{:rowspan => "2", :countdown_time => "#{match.start_time.localtime.to_i}"}
  %tr.upcomingtime
    %td.upcomingactualtime
      = match.start_time.localtime.strftime("%-m/%-d/%Y %I:%M %p")