%table.upcoming{:onclick => "window.location='www.dota2.com'"}
  %tr.upcominginfo
    %td.upcomingteamleft
      = match.team1.team_tag
    %td.upcomingvs
      vs.
    %td.upcomingteamright
      = match.team2.team_tag
  %tr.upcomingtime
    %td.upcomingtimeuntil{:rowspan => "2"}
      = time_until_match(match)
  %tr.upcomingtime
    %td.upcomingactualtime
      = match.start_time.localtime.strftime("%-m/%-d/%Y %I:%M %p")