@charset "utf-8";

body {
	background-color: #272727;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana;
	-webkit-text-size-adjust: none;
	font-size: 12px;
}

/* Login top bar */

.loginbar {
	font-size: 9px;
	height: 11px;
	color: #ffffff;
	margin: 0 auto;
	display: block;
	width: 740px;
}

.logintimeinfo {
	width: 370px;
	text-align: left;
	float: left;
}

.logininfo {
	width: 370px;
	text-align: right;
	float: right;
}

.timeloginbar {
	
}

/* main area */

.maincontainer {
	width: 660px;
	margin: 0 auto;
	min-height: 500px;
	color: #ffffff;
}

.headerlogo {
	width: 650px;
	height: 200px;
}

.linkbar {
	width: 660px;
	height: 75px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.content {
	width: 640px;
	min-height: 500px;
	display: block;
	text-align: center;
}