@charset "utf-8";

body {
	background-color: #272727;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana;
	-webkit-text-size-adjust: none;
	font-size: 12px;
}

/* Login top bar */

.loginbar {
	font-size: 9px;
	height: 11px;
	color: #ffffff;
	margin: 0 auto;
	display: block;
	width: 740px;
}

.logintimeinfo {
	width: 370px;
	text-align: left;
	float: left;
}

.logininfo {
	width: 370px;
	text-align: right;
	float: right;
}

.timeloginbar {
	
}

/* main area */

.maincontainer {
	width: 660px;
	margin: 0 auto;
	min-height: 500px;
	color: #ffffff;
}

.headerlogo {
	width: 650px;
	height: 200px;
}

.linkbar {
	width: 660px;
	height: 75px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.content {
	width: 640px;
	min-height: 500px;
	display: block;
	text-align: center;
}

/* upcoming */
table, td {
	border-collapse: collapse;
	margin: 0px;
	margin-bottom: 2px;
	padding: 0px;
}

table.upcoming {
	cursor: pointer;
	background-color: #6d6d6d;
}

.upcominginfo {
	float: left;
	width: 520px;
	height: 100px;
	text-align: left;
	line-height: 100px;
}

.upcomingteamleft {
	width: 250px;
	height: 100px;
	font-size: 16px;
	font: bold;
	float: left;
	text-align: center;
}

.upcomingvs {
	width: 20px;
	height: 100px;
	font-size: 10px;
	text-align: center;
	float: left;
}

.upcomingteamright {
	width: 250px;
	height: 100px;
	font-size: 16px;
	font: bold;
	float: right;
	text-align: center;
}

.upcomingtime {
	float: right;
	width: 110px;
	height: 50px;
	text-align: center;
	display: inline-block;
}

.upcomingtimeuntil {
	font-size: 14px;
	width: 110px;
	height: 50px;
	font: bold;
	vertical-align: bottom;
}

.upcomingactualtime {
	height: 50px;
	width: 110px;
	font-size: 9px;
	vertical-align: top;
}